* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f1f2f6;
}

h1 {
    font-size: 1.75rem;
}

li {
    display: inline;
}

a {
    color: #ff6b81;
    text-decoration: none;
}

table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td {
    padding: 1%;
}

.tbl_full {
    width: 100%;
    margin-top: 32px;
}

.displ_flex {
    display: flex;
    flex-wrap: wrap;
}

input[type="submit"] {
    padding: 5%;
    background-color:#00A803;
    border-radius: 5px;
    border: none;
}

input[type="submit"]:hover {
    background-color: #00FF06;
}

.btn_add{
    padding: 1%;
    color: white;
    background-color: #0055A8;
}

.btn_add:hover {
    background-color: #51A9FF;
}

.error {
    color: #ff6b81;
    font-size: 18px;
    font-family: auto;
}

.success {
    color: #037d05;
    font-size: 18px;
    font-family: auto;
}

/*  */
/* header */
.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: white;
}

ul > li {
    padding: 8px 16px;
    font-weight: bold;
}


/* dashboard */
.dashboard {
    margin: 5% 15%;
}

.dashboard p {
    margin-top: 32px;
}


.dashboard h1 {
    margin-bottom: 16px;
}


.box {
    background-color: white;
    margin: 16px;
    width: 20%;
    height: 120px;
    position: relative;
}

.box h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* manage admin */


.btn_add_admin:hover {
    cursor: pointer;
    background-color: #51A9FF;
}

.btn_update {
    padding: 1%;
    color: white;
    background-color: #00A803;
}

.btn_update:hover {
    background-color: #00FF06;
}

.btn_delete {
    padding: 1%;
    color: white;
    background-color: #A80010;
}

.btn_delete:hover {
    background-color: #FF0019;
}

.btn_changePassword {
    padding: 1%;
    color: white;
    background-color: #0055A8;
}

.btn_changePassword:hover {
    cursor: pointer;
    background-color: #51A9FF;
}

/* manage add admin */
.tbl_add {
    width: 80%;
    /* margin: 0 auto; */
    margin-top: 32px;
}

.tbl_add td {
    width: 50%;
}

/* login admin */
.login_admin {
    height: 300px;
    width: 300px;
    margin: 100px auto;
    border: 1px solid black;
}

.login_admin h1 {
    text-align: center;
    margin: 28px 0;
}

.login_admin input[type="text"], 
.login_admin input[type="password"],
.login_admin input[type="submit"] {
    padding: 4px 2px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.login_admin input[type="submit"] {
    width: 30%;
}

.login_admin .error,
.login_admin .success {
    text-align: center;
}

.marg {
    display: flex;
    width: 100%;
    margin: 28px 0;
}